{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    {# edit file

    #}
    <div class="container"><h2>category: {{ category_title.title }}</h2></div>

    {% for book in books %}
        <div class="row" style="height: 150px; padding: 20px ">
            <div class="col-2 text-center">
                <img src="{{ book.picture }}" alt="book picture" width="120" height="120" />
            </div>
            <div class="col-7">
                <p style="font-size: 20px">{{ book.title }} </p>
                <div>By {{ book.author }} </div>
                <div><a href="{{ path('show_book',{'book': book.id}) }}">подробнее</a></div>
            </div>
        </div>




    {% endfor %}

        </div>
    </div>
{% endblock %}