{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

    <div class="container"><h2>More info about book</h2></div>


    <div class="container" style="background-color: #F0FFF0">
        <div class="row">

        <div class="col-3 ">
            <img src="{{ book.picture }}" alt="book picture" width="200" height="200" />
        </div>

        <div class="col-9" style="height: 150px; padding: 20px; margin: 30px">

                <p style="font-size: 20px">{{ book.title }} </p>
                <div>By {{ book.author }} </div>

                <div>Year {{ book.year }} </div>
            <div><p style="font-size: 15px">Description of book</p>{{ book.description }}</div>

        </div>
        </div>
    </div>
{% endblock %}